<ion-content>
  <ion-title><img class="bannierePub" src="../../assets/img/pub/pub.jpg"></ion-title>
  <ion-searchbar></ion-searchbar>

  <div class="container">
    
    <ion-grid>
      <ion-title>Gros pec</ion-title>
      <ion-row>
        <ion-col size="6">
          <img class="img" src="../../assets/img/recettes/salade_de_quinoa_aux_pois_chiches_pomegranate_et_menthe.jpg">
        </ion-col>
        <ion-col size="6">
          <h1>Temps Totoal</h1>
          <p>20 min</p>
          <h1>Temps de préparation</h1>
          <p>10 min</p>
          <h1>Temps de cuisson</h1>
          <p>10 min</p>
          <h1>ingrédient</h1>
          <p>5 min</p>
          <p>1 tasse= 250 ml</p>
          <p>1 tasse et demi  de riz brun a grain moyen ou court</p>
          <p>2 tasse et demi d’eau</p>
          <p> 1 c-a-soupe (15ml) de beurre</p>
          <p> 1 c-a-thé (2,5) de sel</p>
        </ion-col>
      </ion-row>
    
      <ion-title>Dérouler</ion-title>
      <ion-row>
        <p>1. Préchauffer le four à 190 C (375 F), et placer le riz dans un plat allant au four (pyrex) à 8×8 cm.</p>

        <p>2. Dans une casserole verser l’eau, ajouter le sel et le beurre, et porter à ébullition à couvert.</p>
          
        <p>3. Une fois le point d’ébullition atteint, verser l’eau sur le riz, et à l’aide d’une fourchette mélanger.</p>
          
        <p>4. Couvrir de papier aluminium. Déposer le plat au centre du four et cuire durant 1h.</p>
          
        <p> 5. Après cuisson, retirer le papier aluminium, Gonfler (mélanger) avec la fourchette.</p>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>