<ion-content>
  <ion-title><img class="bannierePub" src="../../assets/img/pub/pub.jpg"></ion-title>
  <ion-searchbar></ion-searchbar>

  <div class="container">
    
    <ion-grid >
      <ion-title>{{nutritionData.name}}</ion-title>
      <ion-row>
        <ion-col size="6">
          <img class="imgSeule" src="../../assets/img/recettes/salade_de_quinoa_aux_pois_chiches_pomegranate_et_menthe.jpg">
        </ion-col>
        <ion-col size="6">
          <h1>Temps Total</h1>
          <p>{{nutritionData.tempTotal}}</p>
          <h1>Temps de préparation</h1>
          <p>{{nutritionData.tempsPreparation}}</p>
          <h1>Temps de cuisson</h1>
          <p>{{nutritionData.tempsCuisson}}</p>
          <h1>ingrédient</h1>
          <p>{{nutritionData.ingredients}}</p>
          <h1>etape</h1>
          <p>{{nutritionData.etape}}</p>
        </ion-col>
      </ion-row>
    
      <ion-title>Dérouler</ion-title>
      <ion-row>
        <p>{{nutritionData.description}}</p>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>