<ion-content>
  <img src="../../assets/img/logo/Speed_Run_logo.png" alt="Logo SpeedRun">
  <div class="formContainer">
    <form>
      <ion-item color="light" lines="full">
        <div class="inputContainer">
          <ion-label position="floating"><ion-icon name="person-outline"></ion-icon>  Email</ion-label>
          <ion-input [(ngModel)]="user.email" name="email" type="text" required></ion-input>
        </div>
      </ion-item>

      <ion-item color="light" lines="full">
        <div class="inputContainer">
        <ion-label position="floating"><ion-icon name="key-outline"></ion-icon>  Mot de passe</ion-label>
        <ion-input [(ngModel)]="user.password" name="password" type="password" required></ion-input>
      </div>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button [routerLink]="['/tabs']" (click)="submit()" type="submit" expand="block">Connexion</ion-button>
          <a style="display: block;" [routerLink]="['/forgot-password']" class="small-text">Mot de passe oublier ?</a>
          <p>Pas encore inscrit ? <a [routerLink]="['/register']" type="submit" expand="block"> Inscription</a></p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-icon class="icon" name="logo-facebook"></ion-icon>
          <ion-icon class="icon" name="logo-google"></ion-icon>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>