<ion-content>
  <ion-title><img class="bannierePub" src="../../assets/img/pub/pub.jpg"></ion-title>
  <ion-searchbar></ion-searchbar>

  <div class="container">
    
    <ion-grid>
      <ion-title>Nutrition Conseiller</ion-title>
      <ion-row>
        <ion-col size="4">
          <a routerLink="/tabs/nutritionID"><img class="img" src="../../assets/img/recettes/1163529-pave-de-saumon-poele-et-riz.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a routerLink="/tabs/nutritionID"><img class="img" src="../../assets/img/recettes/180824-fs-1200x460-Tasty8-2-7.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a routerLink="/tabs/nutritionID"><img class="img" src="../../assets/img/aliments/i141225-haricots-rouge.jpeg"></a>
        </ion-col>
      </ion-row>
    
      <ion-title>Pertes De Poids</ion-title>
      <ion-row>
        <ion-col size="4">
          <a routerLink="/tabs/nutritionID"><img class="img" src="../../assets/img/aliments/i97829-blancs-de-poulet-au-citron-en-papillote.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a routerLink="/tabs/nutritionID"><img class="img" src="../../assets/img/recettes/salade-cesar-au-poulet.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a routerLink="/tabs/nutritionID"><img class="img" src="../../assets/img/recettes/unnamed.jpg"></a>
        </ion-col>
      </ion-row>

      <ion-title>Prise de masse</ion-title>
      <ion-row>
        <ion-col size="4">
          <a routerLink="/tabs/nutritionID"><img class="img" src="../../assets/img/recettes/programme-alimentaire-prise-masse-femme.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a routerLink="/tabs/nutritionID"><img class="img" src="../../assets/img/recettes/salade_de_quinoa_aux_pois_chiches_pomegranate_et_menthe.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a routerLink="/tabs/nutritionID"><img class="img" src="../../assets/img/aliments/rub-ingre-riz-brun.jpg"></a>
        </ion-col>
      </ion-row>
    </ion-grid>
     
    
  </div>
</ion-content>
 