<ion-content>
  <ion-title><img class="bannierePub" src="../../assets/img/pub/pub.jpg"></ion-title>
  <ion-searchbar></ion-searchbar>

  <div class="container">
    
    <ion-grid>
      <ion-title>Nutrition</ion-title>
      <ion-row>
        <ion-col *ngFor="let recette of nutritionData" size="4">
          <a routerLink="/tabs/nutritionID"><img class="img" src="../../assets/img/recettes/1163529-pave-de-saumon-poele-et-riz.jpg">{{recette.name}}</a>
        </ion-col>
      </ion-row>
    </ion-grid>
     
    
  </div>
</ion-content>
 