<ion-content>
  <ion-title><img class="bannierePub" src="../../assets/img/pub/pub.jpg"></ion-title>
  <ion-searchbar></ion-searchbar>

  <div class="container">
    
    <ion-grid>
      <ion-title>{{exerciceData.name}}</ion-title>
      <ion-row>
        <ion-col size="6">
          <img class="imgSeule" src="../../assets/img/Exercices/grosPec.jpg">
        </ion-col>
        <ion-col size="6">
          <h1>Temps Total</h1>
          <p>{{exerciceData.tempTotal}}</p>
          <h1>Séries</h1>
          <p>{{exerciceData.serie}}</p>
          <h1>Répétitions</h1>
          <p>{{exerciceData.repetition}}</p>
          <h1>Repos</h1>
          <p>{{exerciceData.repos}}</p>
        </ion-col>
      </ion-row>
    
      <ion-title>Dérouler</ion-title>
      <ion-row>
        <p>{{exerciceData.description}} </p>
      </ion-row>

      
    </ion-grid>
     
    
  </div>
</ion-content>
 