<ion-content>
  <ion-title><img class="bannierePub" src="../../assets/img/pub/pub.jpg"></ion-title>
  <ion-searchbar></ion-searchbar>

  <div class="container">
    
    <ion-grid>
      <ion-title>Gros pec</ion-title>
      <ion-row>
        <ion-col size="6">
          <img class="imgID" src="../../assets/img/Exercices/grosPec.jpg">
        </ion-col>
        <ion-col size="6">
          <h1>Temsp Totoal</h1>
          <p>20 min</p>
          <h1>Séries</h1>
          <p>10</p>
          <h1>Répétitions</h1>
          <p>5</p>
          <h1>Repos</h1>
          <p>5 min</p>
        </ion-col>
      </ion-row>
    
      <ion-title>Dérouler</ion-title>
      <ion-row>
        <p>1/ Crunch. Les abdos « crunch » font certainement partie des exercices les plus connus pour les abdominaux. </p>

        <p>2/ Maintien statique bras tendus.</p>
          
        <p>3/ Repos</p>
          
        <p>4/ Abdominaux jambes tendues : ciseaux. </p>
          
        <p> 5/ Abdominaux jambes tendues : petit battement.</p>
          
        <p>6/ Repos</p>
          
        <p>7/ Les obliques. </p>
          
        <p>8/ Le gainage latéral.</p>
      </ion-row>

      
    </ion-grid>
     
    
  </div>
</ion-content>
 