<ion-content>
  <img src="../../assets/img/logo/Speed_Run_logo.png" alt="Logo SpeedRun">
  <form>
    <ion-item color="light" lines="full">
      <div class="inputContainer">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" required></ion-input>
      </div>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/login']" type="submit" expand="block">Réinitialliser le mot de passe</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>