<ion-content>
  <ion-title><img class="bannierePub" src="../../assets/img/pub/pub.jpg"></ion-title>
  <ion-searchbar></ion-searchbar>

  <div class="container">
    
    <ion-grid>
      <ion-title>Exercices Conseiller</ion-title>
      <ion-row>
        <ion-col size="4">
          <img class="img" src="../../assets/img/Exercices/cuisse-muslce.jpg">
        </ion-col>
        <ion-col size="4">
          <img class="img" src="../../assets/img/Exercices/grosPec.jpg">
        </ion-col>
        <ion-col size="4">
          <img class="img" src="../../assets/img/Exercices/anatomie-abdos.jpg">
        </ion-col>
      </ion-row>
    
      <ion-title>Pertes De Poids</ion-title>
      <ion-row>
        <ion-col size="4">
          <img class="img" src="../../assets/img/Exercices/jambesDeFer.jpg">
        </ion-col>
        <ion-col size="4">
          <img class="img" src="../../assets/img/Exercices/meilleurs-exercices-abdos-1024x683.jpg">
        </ion-col>
        <ion-col size="4">
          <img class="img" src="../../assets/img/Exercices/course.jpg">
        </ion-col>
      </ion-row>

      <ion-title>Prise de masse</ion-title>
      <ion-row>
        <ion-col size="4">
          <img class="img" src="../../assets/img/Exercices/images.jpg">
        </ion-col>
        <ion-col size="4">
          <img class="img" src="../../assets/img/Exercices/Homme-pectoraux-muscles.jpg">
        </ion-col>
        <ion-col size="4">
          <img class="img" src="../../assets/img/Exercices/gros-pectoraux-9.jpg">
        </ion-col>
      </ion-row>
    </ion-grid>
     
    
  </div>
</ion-content>
 