<ion-content>
  <ion-title><img class="bannierePub" src="../../assets/img/pub/pub.jpg"></ion-title>
  <ion-searchbar></ion-searchbar>

  <div class="container">
    
    <ion-grid>
      <ion-title>Exercices</ion-title>
      <ion-row>
        <ion-col *ngFor="let exercice of exerciceData" size="4">
          <a routerLink="/tabs/exerciceID"><img class="img" src="../../assets/img/Exercices/cuisse-muslce.jpg"></a>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    
  </div>
</ion-content>
 