<ion-content>
  <ion-title><img class="bannierePub" src="../../assets/img/pub/pub.jpg"></ion-title>
  <ion-searchbar></ion-searchbar>

  <div class="container">
    
    <ion-grid>
      <ion-title>Exercices Conseiller</ion-title>
      <ion-row>
        <ion-col size="4">
          <a routerLink="/tabs/exerciceID"><img class="img" src="../../assets/img/Exercices/cuisse-muslce.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a routerLink="/tabs/exerciceID"><img class="img" src="../../assets/img/Exercices/grosPec.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a routerLink="/tabs/exerciceID"><img class="img" src="../../assets/img/Exercices/anatomie-abdos.jpg"></a>
        </ion-col>
      </ion-row>
    
      <ion-title>Pertes De Poids</ion-title>
      <ion-row>
        <ion-col size="4">
          <a routerLink="/tabs/exerciceID"><img class="img" src="../../assets/img/Exercices/jambesDeFer.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a routerLink="/tabs/exerciceID"><img class="img" src="../../assets/img/Exercices/meilleurs-exercices-abdos-1024x683.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a routerLink="/tabs/exerciceID"><img class="img" src="../../assets/img/Exercices/course.jpg"></a>
        </ion-col>
      </ion-row>

      <ion-title>Prise de masse</ion-title>
      <ion-row>
        <ion-col size="4">
          <a routerLink="/tabs/exerciceID"><img class="img" src="../../assets/img/Exercices/images.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a routerLink="/tabs/exerciceID"><img class="img" src="../../assets/img/Exercices/Homme-pectoraux-muscles.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a routerLink="/tabs/exerciceID"><img class="img" src="../../assets/img/Exercices/gros-pectoraux-9.jpg"></a>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    
  </div>
</ion-content>
 