
<ion-content>
  <ion-title><img class="bannierePub" src="../../assets/img/pub/pub.jpg"></ion-title>
  <ion-searchbar></ion-searchbar>

  <div class="container">
    
    <ion-grid>
      <ion-title>Exercices</ion-title>
      <ion-row>
        <ion-col size="4">
          <a routerLink="/tabs/exerciceID"> <img class="img" src="../../assets/img/Exercices/cuisse-muslce.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a routerLink="/tabs/exerciceID"><img class="img" src="../../assets/img/Exercices/grosPec.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a routerLink="/tabs/exerciceID"><img class="img" src="../../assets/img/Exercices/anatomie-abdos.jpg"></a>
        </ion-col>
      </ion-row>
    
      <ion-title>Nutritions</ion-title>
      <ion-row>
        <ion-col size="4">
          <a routerLink="/tabs/nutritionID"><img class="img" src="../../assets/img/recettes/1163529-pave-de-saumon-poele-et-riz.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a routerLink="/tabs/nutritionID"><img class="img" src="../../assets/img/recettes/180824-fs-1200x460-Tasty8-2-7.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a routerLink="/tabs/nutritionID"><img class="img" src="../../assets/img/recettes/salade-cesar-au-poulet.jpg"></a>
        </ion-col>
      </ion-row>

      <ion-title>Aliments</ion-title>
      <ion-row>
        <ion-col size="4">
          <a routerLink="/tabs/nutritionID"><img class="img" src="../../assets/img/aliments/i141225-haricots-rouge.jpeg"></a>
        </ion-col>
        <ion-col size="4">
          <a routerLink="/tabs/nutritionID"><img class="img" src="../../assets/img/aliments/i97829-blancs-de-poulet-au-citron-en-papillote.jpg"></a>
        </ion-col>
        <ion-col size="4">
          <a routerLink="/tabs/nutritionID"><img class="img" src="../../assets/img/aliments/oeuf.jpg"></a>
        </ion-col>
      </ion-row>
    </ion-grid>
     
    
  </div>
</ion-content>
