<ion-content>
  <ion-card color="light">
    <ion-item color="secondary">
      <ion-icon color="primary" name="flash-outline" slot="start"></ion-icon>
      <ion-label>Passe à l'Offre Prémium</ion-label>
      <ion-button color="primary" [routerLink]="['/payment']" type="submit" fill="outline" slot="end"><ion-icon color="primary" name="card-outline"></ion-icon></ion-button>
    </ion-item>
  
    <ion-card-content>
      <p><ion-icon color="primary" name="checkmark-circle-outline"></ion-icon> Coach personelle</p>
      <p><ion-icon color="secondary" name="checkmark-circle-outline"></ion-icon> Exercices personaliser</p>
      <p><ion-icon color="tertiary" name="checkmark-circle-outline"></ion-icon> Planning nutrionelle personaliser</p>
      <p><ion-icon color="success" name="checkmark-circle-outline"></ion-icon> Chat en temps réel avec ton coach </p>
      <p><ion-icon name="checkmark-circle-outline"></ion-icon> Et bientot plus </p>
    </ion-card-content>
  </ion-card>
  
  <form>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item color="light" lines="full">
            <ion-avatar slot="start">
              <img src="../../assets/img/avatar/profil.jpg">
            </ion-avatar>
             <ion-icon name="download-outline" type ="file"><ion-input type="file"></ion-input></ion-icon>
          </ion-item>
        </ion-col>
      
        <ion-col>
          <ion-button [routerLink]="['/payment']" type="submit" expand="block">Prémium</ion-button>
        </ion-col>
    </ion-row>

    <ion-item color="light" lines="full">
      <div class="inputContainer">
        <ion-label position="floating">Nom d'utilisateur</ion-label>
        <ion-input [(ngModel)]="user.pseudo" name="pseudo" type="text" required></ion-input>
      </div>
    </ion-item>

    <ion-item color="light" lines="full">
      <div class="inputContainer">
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="user.email" name="email" type="text" required></ion-input>
      </div>
    </ion-item>

      <ion-item color="light" lines="full">
        <div class="inputContainer">
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input [(ngModel)]="user.password" name="password" type="text" required></ion-input>
        </div>
      </ion-item>

      <ion-item color="light" lines="full">
        <div class="inputContainer">
          <ion-label position="floating">Confirme ton mot de passe</ion-label>
          <ion-input [(ngModel)]="user.confirmPassword" name="confirmPassword" type="text" required></ion-input>
        </div>
      </ion-item>

      <ion-item color="light" lines="full">
        <div class="inputContainer">
          <ion-label position="floating">Poids</ion-label>
          <ion-input type="text" required></ion-input>
        </div>
      </ion-item>

      <ion-item color="light" lines="full">
        <div class="inputContainer">
          <ion-label position="floating">Taille</ion-label>
          <ion-input type="text" required></ion-input>
        </div>
      </ion-item>
      
      <ion-item color="light">
        <ion-label>Programme</ion-label>
        <ion-select value="poids" okText="Ok" cancelText="Annuler">
          <ion-select-option value="poids">Perte de poids</ion-select-option>
          <ion-select-option value="masse">Prise de masse</ion-select-option>
          <ion-select-option value="fesses">Grosse fesses</ion-select-option>
          <ion-select-option value="sculte">Corps sculter</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item color="light">
        <ion-label>Environement</ion-label>
        <ion-select value="interieur" okText="Ok" cancelText="Annuler">
          <ion-select-option value="interieur">Intérieur</ion-select-option>
          <ion-select-option value="exterieur">Extérieur</ion-select-option>
          <ion-select-option value="2">Les deux</ion-select-option>
        </ion-select>
      </ion-item>
  </ion-grid>

    <p><ion-checkbox color="primary"></ion-checkbox>En cochant la case J'accepte les présentes conditions, vous confirmez avoir lu, compris et acceptez le règlement prévu aux <a [routerLink]="['']" > Conditions d'utilisation</a></p>
    <ion-row>
      <ion-col>
        <ion-button (click)="submit()" [routerLink]="['']" type="submit" expand="block">Inscription</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>